.artist {
  display: inline-block;
  position: relative;
  margin: 0 12px 12px 0;
  border-radius: 4px;
}

.artist h2 {
  position: absolute;
  font-size: 1.2em;
  right: 0;
  left: 0;
  margin: 0;
  padding: 12px 0 0 24px;
  border: none;
  text-shadow: 0 0 5px black;
}

.artist h2 a {
  color: white;
}

.artist-image {
  -webkit-filter: blur(7px);
  filter: blur(7px);
  z-index: -1;
  border-radius: 4px;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-size: 300px;
}

.albums {
  margin: 1px;
  border: 1px solid rgba(0,0,0,0.2);
  background-color: rgba(55,55,55,0.85);
  padding: 30px 12px 12px 12px;
  box-shadow: 0 0 7px black;
  border-radius: 4px;
}

.albums ul {
  padding-left: 10px;
}

.albums li,
.albums li .artist,
.albums li .album,
.albums li .image img,
.albums li .playButton .center {
  width: 120px;
}

.albums li {
  height: 150px;
}

.albums li .image,
.albums li .playButton .center {
  height: 120px;
}

.albums li {
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
  list-style: none;
  vertical-align: top;
}

.albums li .image {
  display: table-cell;
  padding-bottom: 5px;
  vertical-align: middle;
}

.albums li .playButton {
  position: absolute;
  top: 0;
}

.albums li .playButton .center {
  position: relative;
  z-index: 2;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.albums li .playButton .center button {
  opacity: 0;
}

.albums li .playButton .center:hover button,
.albums li .playButton button.sp-button-play-pause {
  cursor: pointer;
  opacity: 1;
}

.albums li img {
  width: 100%;
  vertical-align: middle;
}