h2 {
  float: left;
  border: none;
  padding: 0;
  margin: 0;
}

h2 > a {
  display: inline-block;
  width: 25px;
  text-align: center;
  margin: 6px 0 0 0;
  padding: 3px 9px;
  color: #fff;
  background-color: #222;
  border-radius: 20px;
  font-size: 26px;
  text-shadow: 0 0 5px black;
}

.char {
  margin-left: 52px;
}

.artist {
  display: inline-block;
  position: relative;
  margin: 0 0 12px 0;
  border-radius: 4px;
}

.artist h3 {
  margin: 15px 0 -6px 10px;
  padding: 0;
  font-size: 1.2em;
  border: none;
  text-shadow: 0 0 5px black;
}

.artist h3 a {
  color: white;
}

.albums {
  margin-right: 64px;
}

.albums ul {
  padding-left: 10px;
}

.albums li,
.albums li .artist,
.albums li .album,
.albums li .image img,
.albums li .playButton .center {
  width: 128px;
}

.albums li {
  min-height: 150px;
}

.albums li .image,
.albums li .playButton .center {
  height: 128px;
}

.albums li {
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
  list-style: none;
  vertical-align: top;
}

.albums li .image {
  display: table-cell;
  padding-bottom: 5px;
  vertical-align: middle;
}

.albums li .playButton {
  position: absolute;
  top: 0;
}

.albums li .playButton .center {
  position: relative;
  z-index: 2;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.albums li .playButton .center button {
  opacity: 0;
}

.albums li .playButton .center:hover button,
.albums li .playButton button.sp-button-play-pause {
  cursor: pointer;
  opacity: 1;
}

.albums li img {
  width: 100%;
  vertical-align: middle;
}

#navigation {
  border-bottom: 1px solid #222;
  margin-bottom: 20px;
  border-radius: 5px;
}

#navigation ul {
  padding: 0;
  margin: 0;
  text-align: center;
}

#navigation li {
  display: inline-block;
  list-style: none;
}

#navigation li a {
  display: inline-block;
  padding: 4px 5px;
  font-size: 20px;
}

#navigation li a.on {
  text-shadow: 0 0 3px black;
  color: white;
}

#navigation li a.off {
  color: #555;
}


@media (max-width: 700px) {
  h2 {
    float: none;
  }

  .char {
    margin-left: 0;
  }

  .albums {
    margin-right: 32px;
  }
}