.artist {
  display: inline-block;
  position: relative;
  margin: 0 12px 12px 0;
  border-radius: 4px;
}

.artist h3 {
  position: absolute;
  font-size: 1.2em;
  right: 0;
  left: 0;
  margin: 0;
  padding: 10px 0 0 24px;
  border: none;
  text-shadow: 0 0 5px black;
}

.artist h3 a {
  color: white;
}

.albums {
  padding: 22px 0px 0 12px;
  margin-right: 20px;
}

.albums ul {
  padding-left: 10px;
}

.albums li,
.albums li .artist,
.albums li .album,
.albums li .image img,
.albums li .playButton .center {
  width: 120px;
}

.albums li {
  height: 150px;
}

.albums li .image,
.albums li .playButton .center {
  height: 120px;
}

.albums li {
  position: relative;
  display: inline-block;
  margin: 0 15px 0 0;
  list-style: none;
  vertical-align: top;
}

.albums li .image {
  display: table-cell;
  padding-bottom: 5px;
  vertical-align: middle;
}

.albums li .playButton {
  position: absolute;
  top: 0;
}

.albums li .playButton .center {
  position: relative;
  z-index: 2;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.albums li .playButton .center button {
  opacity: 0;
}

.albums li .playButton .center:hover button,
.albums li .playButton button.sp-button-play-pause {
  cursor: pointer;
  opacity: 1;
}

.albums li img {
  width: 100%;
  vertical-align: middle;
}