#filter {
  position: absolute;
  top: 20px;
  right: 20px;
}

#albums ul {
  margin: 0;
  padding: 0;
}

#albums li,
#albums li .artist,
#albums li .album,
#albums li .image img,
#albums li .playButton .center {
  width: 120px;
}

#albums li {
  height: 180px;
}

#albums li .image,
#albums li .playButton .center {
  height: 120px;
}

#albums li {
  position: relative;
  display: inline-block;
  margin: 0 15px 30px 0;
  list-style: none;
  vertical-align: top;
}

#albums li .image {
  display: table-cell;
  padding-bottom: 5px;
  vertical-align: middle;
}

#albums li .playButton {
  position: absolute;
  top: 0;
}

#albums li .playButton .center {
  position: relative;
  z-index: 2;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

#albums li .playButton .center button {
  opacity: 0;
}

#albums li .playButton .center:hover button,
#albums li .playButton button.sp-button-play-pause {
  cursor: pointer;
  opacity: 1;
}

#albums li .artist a {
  color: #fff;
}

#albums li img {
  width: 100%;
  vertical-align: middle;
}

.hide {
  display: none !important;
}