.playlist {
  overflow-x: hidden;
}

ul {
  margin: 0 -15px 0 0;
  padding: 0;
}

li,
li .artist,
li .album,
li .image img,
li .playButton .center {
  width: 128px;
}

li {
  min-height: 150px;
}

li .image,
li .playButton .center {
  height: 128px;
}

li {
  position: relative;
  display: inline-block;
  margin: 0 15px 30px 0;
  list-style: none;
  vertical-align: top;
}

li .image {
  display: table-cell;
  padding-bottom: 5px;
  vertical-align: middle;
}

li .playButton {
  position: absolute;
  top: 0;
}

li .playButton .center {
  position: relative;
  z-index: 2;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

li .playButton .center button {
  transition: opacity linear .1s;
  opacity: 0;
}

li .playButton .center:hover button,
li .playButton button.sp-button-play-pause {
  opacity: 1;
}

li .artist a {
  color: #fff;
}

li img {
  width: 100%;
  vertical-align: middle;
}